<div class="panel panel-default">
  <div class="panel-body">
  <h3>TITLE GOES HERE</h3>

    <div class="row">
      <div class="col-xs-6">
        <div class="panel panel-info">
          <div class="panel-heading">Code or Query</div>

          <div class="panel-body"><pre>CODE GOES HERE</pre></div>
        </div>
      </div>

      <div class="col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Output</div>

          <div class="panel-body">
            <div><samp>OUTPUT GOES HERE</samp></div>
          </div>
        </div>
      </div>
    </div><!-- row -->
  </div>
</div>