- //access to wikiPageCtrl functions or data

h1 How to Configure Something
div(class="row")
  div(class="col-xs-12 col-md-10 col-md-offset-1")
    div(class="row separate-vert-medium")
      div(class="col-xs-12")
        div(class="panel panel-default")
          div(class="panel-heading text-large") 1. Step 1 Heading
          div(class="panel-body")
            div(class="row")
              div(class="border-right col-xs-2 col-sm-4")
                div This can contain a picture to illustrate what's happening in this step.
              div(class="col-xs-10 col-sm-8")
                div This will contain information about this step in the configuration.
    div(class="row separate-vert-medium")
      div(class="col-xs-12")
        div(class="panel panel-default")
          div(class="panel-heading text-large") 2. Step 2 Heading
          div(class="panel-body")
            div(class="row")
              div(class="border-right col-xs-2 col-sm-4")
                div This can contain a picture to illustrate what's happening in this step.
              div(class="col-xs-10 col-sm-8")
                div This will contain information about this step in the configuration.
    div(class="row separate-vert-medium")
      div(class="col-xs-12")
        div(class="panel panel-default")
          div(class="panel-heading text-large") 3. Step 3 Heading
          div(class="panel-body")
            div(class="row")
              div(class="border-right col-xs-2 col-sm-4")
                div This can contain a picture to illustrate what's happening in this step.
              div(class="col-xs-10 col-sm-8")
                div This will contain information about this step in the configuration.
    div(class="row separate-vert-medium")
      div(class="col-xs-12")
        div(class="panel panel-default")
          div(class="panel-heading text-large") 4. Step 4 Heading
          div(class="panel-body")
            div(class="row")
              div(class="border-right col-xs-2 col-sm-4")
                div This can contain a picture to illustrate what's happening in this step.
              div(class="col-xs-10 col-sm-8")
                div This will contain information about this step in the configuration.
    div(class="row separate-vert-medium")
      div(class="col-xs-12")
        div(class="panel panel-default")
          div(class="panel-heading text-large") 5. Step 5 Heading
          div(class="panel-body")
            div(class="row")
              div(class="border-right col-xs-2 col-sm-4")
                div This can contain a picture to illustrate what's happening in this step.
              div(class="col-xs-10 col-sm-8")
                div This will contain information about this step in the configuration.