- //access to wikiPageCtrl functions or data
div(class="row separate-vert-small")
  div(class="col-xs-12 col-md-10 col-md-offset-1")
    div
      h1 Customer Environment Access
      div
        strong Server Infrastructure
    table(class="table table-bordered")
      colgroup
        col
        col.gray
        col.info
        col.success
        col.warning
        col.danger
      thead
        tr
          th
          th Local
          th Citrix/Admin
          th Development (DEV)
          th Test (UAT)
          th Production (PROD)
      tbody
        tr
          td
            strong Client URL
          td
          td
          td
          td
          td
        tr
          td
            strong PMG URL
          td
          td
          td
          td
          td
        tr
          td
            strong PMG Version
          td
          td
          td
          td
          td
        tr
          td
            strong iRequest
          td
          td
          td
          td
          td
        tr
          td
            strong iDeliver
          td
          td
          td
          td
          td
        tr
          td
            strong Server Account
          td
          td
          td
          td
          td
        tr
          td
            strong SPEWS URL
          td
          td
          td
          td
          td
        tr
          td
            strong SPEWS Account
          td
          td
          td
          td
          td
        tr
          td
            strong SQL
          td
          td
          td
          td
          td
        tr
          td
            strong AD
          td
          td
          td
          td
          td
        tr
          td
            strong Remedy
          td
          td
          td
          td
          td
        tr
          td
            strong Oracle
          td
          td
          td
          td
          td
        tr
          td
            strong Sharepoint
          td
          td
          td
          td
          td
        tr
          td
            strong FTP
          td
          td
          td
          td
          td