- //access to wikiPageCtrl functions or data
- //Add the below script to add affix functionality to the navigation
- //script(type='text/javascript').
- //  $(function(){$(".main-nav").affix({offset:{top:200}})})
h1 Page Title
div(class="row")
  div(class="col-xs-2")
    ul(style="top:80px",class="main-nav list-unstyled")
      li
        h3 Navigation
      li(class="padding-small")
        a(href="#section1",class="btn btn-primary") Section1
      li(class="padding-small")
        a(href="#section2",class="btn btn-success") Section2
      li(class="padding-small")
        a(href="#section3",class="btn btn-warning") Section3
      li(class="padding-small")
        a(href="#section4",class="btn btn-info") Section4
  div(class="col-xs-10")
    div(class="col-xs-12")
      div(id="section1",class="separate-vert-medium")
        div(class="panel panel-primary")
          div(class="panel-heading text-large") Section 1 Heading
          div(class="panel-body")
            div section text
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            div some more section text
      div(id="section2",class="separate-vert-large divider")
      div(class="separate-vert-medium")
        div(class="panel panel-success")
          div(class="panel-heading text-large") Section 2 Heading
          div(class="panel-body")
            div section text
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            div some more section text
      div(id="section3",class="separate-vert-large divider")
      div(class="separate-vert-medium")
        div(class="panel panel-warning")
          div(class="panel-heading text-large") Section 3 Heading
          div(class="panel-body")
            div section text
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            div some more section text
      div(id="section4",class="separate-vert-large divider")
      div(class="separate-vert-medium")
        div(class="panel panel-info")
          div(class="panel-heading text-large") Section 4 Heading
          div(class="panel-body")
            div section text
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            div some more section text