- //access to wikiPageCtrl functions or data
div
  ul(class="nav nav-tabs")
    li(role="presentation",class="active")
      a(href="#") Tab1
    li(role="presentation")
      a(href="#") Tab2
    li(role="presentation")
      a(href="#") Tab3
    li(role="presentation")
      a(href="#") Tab4
    li(role="presentation")
      a(href="#") Tab5