- //access to adminSettingsCtrl functions
- //the information saved needs to go to setting.value as either an object or other piece of data

div.separate-vert-small
  div
    small This simply determines what event types admins and users can select from to fire events at the time they would normally fire. The events in the platform still fire regardless of the available event types listed. here.
  div.padding-small
    table.table.table-responsive
      tr
        th Type
        th Scope
        th Delete
      tr(data-ng-repeat="type in setting.value | orderBy:'type'")
        td {{ type.type }}
        td {{ type.scope }}
        td
          a(href="javascript:void(0)",data-ng-click="setting.value.splice(setting.value.indexOf(type),1)")
            div Delete
  div.separate-vert-small.padding-small
    div.panel.panel-default
      div.panel-body
        form(data-ng-submit="functions.pushArray(setting.value,{type:setting.type,scope:setting.scope})")
          div(class="form-group")
            label(for="tempNewEventType") Event Type Name
            input.form-control(type="text",id="tempNewEventType",name="tempNewEventType",data-ng-model="setting.type")
          div(class="form-group")
            label(for="tempNewEventScope") Scope
            select.form-control(id="tempNewEventScope",name="tempNewEventScope",data-ng-model="setting.scope",data-ng-options="s.type as s.name for s in [{type:'all',name:'Global (all) Scope'},{type:'page',name:'Page (page) Scope'},{type:'other',name:'Other (other)'}]")
          div.form-group
            button(type="submit",class="btn btn-default margin-left-small") Add Event Type