- //access to adminSettingsCtrl functions
- //the information saved needs to go to setting.value as either an object or other piece of data

div(class="separate-vert-small")
  div
    span(class="wrapper dark radius-sm margin-small padding-small",data-ng-repeat="path in setting.value")
      span {{ path }}
      small(class="margin-left-small")
        a(href="javascript:void(0)",data-ng-click="setting.value.splice($index,1)")
          em x
  div(class="separate-vert-small")
    div(class="text-center")
      form(class="form-inline",data-ng-submit="functions.pushArray(setting.value,setting.temp)")
        div(class="form-group")
          label(for="tempNewAdminUser") Add Path
          input(type="text",id="tempNewAdminUser",name="tempNewAdminUser",class="form-control margin-left-small",data-ng-model="setting.temp")
          button(type="submit",class="btn btn-default margin-left-small") Add Path