//access to adminSettingsCtrl functions
//the information saved needs to go to setting.value as either an object or other piece of data

div(class="separate-vert-small")
  textarea(class="form-control",data-ng-model="setting.value",rows="15")