- //access to adminSettingsCtrl functions
- //the information saved needs to go to setting.value as either an object or other piece of data

div(class="separate-vert-small")
  div(class="row")
    form
      div.col-xs-12
        div.form-group.padding-small
          label(for="mongodb_host") Host
          input(type="text",class="form-control",id="mongodb_host",name="mongodb_host",data-ng-model="setting.value.HOST")
      div.col-xs-12
        div.form-group.padding-small
          label(for="mongodb_port") Port
          input(type="text",class="form-control",id="mongodb_port",name="mongodb_port",data-ng-model="setting.value.PORT")
      div.col-xs-12
        div.form-group.padding-small
          label(for="mongodb_username") Username
          input(type="text",class="form-control",id="mongodb_username",name="mongodb_username",data-ng-model="setting.value.USER")
      div.col-xs-12
        div.form-group.padding-small
          label(for="mongodb_password") Password
          input(type="text",class="form-control",id="mongodb_password",name="mongodb_password",data-ng-model="setting.value.PASSWORD")