extends layout

block main  
  div(class="row",data-ng-controller="adminThemingCtrl")
    div(class="col-xs-12")
      include include_adminnav.jade
    div.col-xs-12.col-md-10.col-md-offset-1
      div
        h1 Theme Management
    div.col-xs-12.col-md-10.col-md-offset-1
      div.row
        div.col-xs-12
          div Testing 123