extends layout

block main
  div.row(data-ng-controller="adminDiffCtrl")
    div.col-xs-12
      include include_adminnav.jade
    div.col-xs-12
      div.container
        div.padding-medium
          h1 Directory Processing
          div.row
            form.col-xs-12
              div.form-group
                label(for="dirPath") Path to Parse
                input(type="text",class="form-control input-lg",id="dirPath",name="dirPath",data-ng-model="dirPath")
              div(class="form-group text-center")
                button(class="btn btn-default",data-ng-click="handlers.checkDir(dirPath)") Check Directory
                button(class="btn btn-success margin-left-small",data-ng-click="handlers.processDir(dirPath)") Process Directory
                button(class="btn btn-info margin-left-small",data-ng-click="handlers.processDir(dirPath,'createPages')") Create Pages From Directory
              div(class="form-group text-center text-large",data-ng-show="message")
                alert(type="{{ message.type }}") {{ message.content }}
            div.separate-vert-medium.col-xs-12(data-ng-show="previousProcesses.length")
              div.table-responsive
                table(class="table table-striped table-bordered")
                  tr
                    th Date Ran
                    th Application Hostname
                    th Input Directory
                    th Full Directory
                    th Number of Files Processed
                  tr(data-ng-repeat="pro in previousProcesses | orderBy: 'pro.date'")
                    td {{ functions.formatDateTime(pro.date) }}
                    td {{ pro.hostname }}
                    td {{ pro.directory }}
                    td {{ pro.fulldirectory }}
                    td {{ pro.numberFiles }}
