extends layout

block main  
  div(class="row",data-ng-controller="adminModulesCtrl")
    div(class="col-xs-12")
      include include_adminnav.jade
    div(class="col-xs-12 col-md-10 col-md-offset-1")
      div
        h1 Module Management
      div(class="separate-vert-small")
        div(data-ng-if="modules.length")
          table(class="table table-striped table-responsive table-bordered")
            tr
              th #
              th Module Key
              th Name
              th Description
              th View Template
              - //th Configuration Options
              th Date Created
              th Edit/Delete Module
            tr(data-ng-repeat="module in modules")
              td {{ $index+1 }}
              td {{ module.key }}
              td {{ module.name }}
              td {{ module.description }}
              td
                a(data-ng-href="/file/{{ module.template }}",target="_blank") {{ module.template }}
              - //td {{ module.config.join(", ") }}
              td {{ functions.formatDateTime(module.updated) }}
              td
                a(href="javascript:void(0)",data-ng-click="handlers.editModule(module)") Edit
                span  / 
                a(href="javascript:void(0)",data-ng-click="handlers.deleteModule(module.key,module.template,$index)") Delete
        h2(class="text-center",data-ng-if="!modules.length")
          alert There are no modules available to review.
    div(class="col-xs-12")
      div(class="row")
        div(class="col-xs-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4")
          div(class="panel panel-primary")
            div(class="panel-heading")
              div(class="text-xlarge") Create/Update Modules
            div(class="panel-body")
              form
                div(class="form-group")
                  label(for="key") Module Key
                  input(type="text",class="form-control",id="key",name="key",data-ng-model="newModule.key")
                div(class="form-group")
                  label(for="name") Module Name
                  input(type="text",class="form-control",id="name",name="name",data-ng-model="newModule.name")
                div(class="form-group")
                  label(for="description") Module Description
                  textarea(class="form-control",id="description",name="description",data-ng-model="newModule.description")
                div(class="form-group")
                  label(for="template",popover="This is an HTML or Jade template file we will use to replace the module with after retrieving and processing it.",popover-trigger="mouseenter")
                    span Module View Template File 
                    span(class="glyphicon glyphicon-info-sign")
                  input(type="file",class="form-control",id="template",name="template",fileread="templateFile")
                div(class="form-group")
                  div(class="panel")
                    div(class="panel-heading")
                      label(popover="A list of options a user must enter when configuring this module. These options will be keys in the PARAMS object in your processing code.",popover-trigger="mouseenter")
                        span Module Configuration Options 
                        span(class="glyphicon glyphicon-info-sign")
                    div(class="panel-body")
                      div(class="separate-vert-small text-center")
                        button(class="btn btn-default",data-ng-click="functions.updateNewModuleConfigLength('inc')",popover-trigger="mouseenter",popover="Add new event.")
                          span(class="glyphicon glyphicon-plus")
                        button(class="btn btn-default margin-left-small",data-ng-click="functions.updateNewModuleConfigLength('dec')",popover-trigger="mouseenter",popover="Delete last event.")
                          span(class="glyphicon glyphicon-minus")
                      div(class="padding-small text-center",data-ng-show="!newModule.config.length")
                        alert There are no configuration options required for this module.
                      ul(class="list-unstyled")
                        li(class="switch-grey separate-vert-small padding-medium",data-ng-show="newModule.config.length",data-ng-repeat="conf in newModule.config")
                          div.row
                            div.col-xs-4
                              label(for="cn{{ $index }}") Config Option Name
                              input(type="text",class="form-control",id="cn{{ $index }}",name="cn{{ $index }}",data-ng-model="conf.name")
                            div.col-xs-4
                              label(for="ct{{ $index }}") Control Type
                              select(class="form-control",id="ct{{ $index }}",name="ct{{ $index }}",data-ng-model="conf.type")
                                option(value="textbox") Text Box
                                option(value="textarea") Text Area
                                option(value="select") Select List
                            div.col-xs-4
                              label(for="cv{{ $index }}") Value(s)
                              input(type="text",class="form-control",id="cv{{ $index }}",name="cv{{ $index }}",data-ng-model="conf.values",popover="Either a default value, or list of values for the select list data type.",popover-trigger="mouseenter")
                div(class="form-group")
                  label Data Generation Code (Server)
                  textarea(class="form-control",rows="15",id="code",name="code",data-ng-model="newModule.code",placeholder="The config options are exposed in this code in the PARAMS object (i.e. var {{ newModule.config[0].name || 'option1' }} = PARAMS.{{ newModule.config[0].name || 'option1' }}).\r\n\r\nThis code either needs to return the value/object you want to use with the module, or if async code is used you need to pass your returned information to the PARMAS.callback function (first param is error/null, second parameter is data returned).\r\n\r\nEXAMPLE:\r\nasyncFunction('foo',function(err,data) {\r\n\tPARAMS.callback(err,data);\r\n});")
                div(class="form-group")
                  label (OPTIONAL) Post Processing Code (Client)
                  textarea(class="form-control",rows="15",id="clientCode",name="clientCode",data-ng-model="newModule.clientCode",placeholder="The results from the Data Generation Code are exposed in this code using the DATA object (i.e. var result1 = DATA.myFirstPieceOfData).")
                div(class="form-group text-center")
                  button(class="btn btn-primary",data-ng-click="handlers.createModule('templateFile')") Create Module