extends layout

block main  
  div(class="row",data-ng-controller="adminTemplateMgmtCtrl")
    div(class="col-xs-12")
      include include_adminnav.jade
    div(class="col-xs-12 col-md-10 col-md-offset-1")
      div(class="padding-medium")
        h1 Template Management
        div template management stuff