- var navlinks = data.nav;

div(class="header row")
	nav(class="navbar navbar-default shadowlarge")
		div(class="wrapper dark")
			div(class="navbar-header")
				button(type="button",class="navbar-toggle collapsed",data-toggle="collapse",data-target="#navbarcoll",aria-expanded="false")
					span(class="sr-only") Toggle navigation
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
			div(id="navbarcoll",class="collapse navbar-collapse")
				ul(class="nav navbar-nav")
					- each link in navlinks
						li(class="button-main")
							a(href=link.link)= link.text