div(class="row",data-ng-if="!protected")
  div(class="col-xs-12 text-right")
    div
      - if (data.external.EXTRA.loggedIn)
        a(href="javascript:void(0)",data-ng-click="handlers.likePage(!canLike)")
          //span(class="circle circ20 vcenter dark text-center")
          span(class="glyphicon {{ (canLike) ? 'glyphicon-thumbs-up' : 'glyphicon-thumbs-down' }}") 
          small  {{ (canLike) ? "Like" : "Unlike" }} 
          span ({{ pageLikes }})
      a(class="margin-left-medium",href="javascript:void(0)",data-ng-click="handlers.subscribe.subscribeModal()")
        span(class="glyphicon glyphicon-tag") 
        small  Subscribe
script(type="text/ng-template" id="subscribeContent.html")
  form
    div(class="modal-header")
      h1(class="modal-title") Subscribe to Page
    div(class="modal-body")
      div Enter your e-mail address below to subscribe to this page.
      div(class="separate-vert-small")
        input(type="text",class="form-control",placeholder="Enter E-mail Address...",data-ng-model="emailAddress")
      div(data-ng-show="subscribeError")
        alert {{ subscribeError }}
      div(data-ng-show="subscribeSuccess")
        alert(type="success") {{ subscribeSuccess }}
    div(class="modal-footer")
      button(class="btn btn-success",data-ng-click="handlers.subscribe.subscribeToPage(emailAddress)") Subscribe