form
  div(class="separate-vert-small text-center")
    button(class="btn btn-primary",data-ng-click="handlers.saveModuleInstances(moduleInstances)") Save Module Instances
  div(class="separate-vert-small text-center")
    button(class="btn btn-default",data-ng-click="functions.updateAryLength('moduleInstances','inc')",popover-trigger="mouseenter",popover="Add new event.")
      span(class="glyphicon glyphicon-plus")
    button(class="btn btn-default margin-left-small",data-ng-click="functions.updateAryLength('moduleInstances','dec')",popover-trigger="mouseenter",popover="Delete last event.")
      span(class="glyphicon glyphicon-minus")
  div(class="col-xs-12 padding-small text-center",data-ng-show="!moduleInstances.length")
    alert There are no modules configured for this page.
  div(class="col-xs-12 col-md-6 col-lg-4 padding-small",data-ng-repeat="instance in moduleInstances",data-ng-show="moduleInstances.length")
    div(class="wrapper light gray padding-medium")
      div(class="text-large")
        div(class="text-xlarge") Module Instance
      div
        h3 Module Type
        select(class="form-control",data-ng-options="module.key as module.name for module in availableModules",data-ng-model="instance.modulekey",popover="{{ functions.getModuleDescription(instance.modulekey) }}",popover-trigger="mouseenter")
      div(data-ng-show="instance.uid")
        h3 Module HTML
        small
          small Enter the HTML below on any page that you would like to place this module on, and it will automatically render the module whenever someone loads the page.
        div(class="text-center")
          code &lt;wiki-module id="'{{ instance.uid }}'"&gt;&lt;/wiki-module&gt;
      div
        h4 Module Configuration
        div(data-ng-if="!instance.moduleConfig.length")
          alert(type="{{ (instance.uid) ? 'success'  : 'warning' }}") {{ (instance.uid) ? "This module has no configuration required." : "Configuration options will show when you create and save this module. Do so by clicking the Save Modules button above, then you will see configuration options available to enter if there are any."}}
        div(data-ng-if="instance.moduleConfig.length")
          div(class="row separate-vert-small",data-ng-repeat="c in instance.moduleConfig")
            div(class="col-xs-6 col-md-4") {{ c.name }}
            div(class="col-xs-6 col-md-8")
              div(data-ng-if="c.type=='select'")
                select(class="form-control",data-ng-options="val as val for val in c.values.split(',')",data-ng-model="instance.config[c.name]")
              div(data-ng-if="c.type=='textbox'")
                input(type="text",class="form-control",data-ng-model="instance.config[c.name]")
              div(data-ng-if="c.type=='textarea'")
                textarea(class="form-control",data-ng-model="instance.config[c.name]")