div#admin-nav(class="separate-vert-small")
  a(href="/admin")
    button(class="btn btn-primary") Admin Home
  a(href="/admin/visitors")
    button(class="btn btn-primary margin-left-small") Current Visitors
  a(href="/admin/templates")
    button(class="btn btn-primary margin-left-small") Template Management
  a(href="/admin/events")
    button(class="btn btn-primary margin-left-small") Global Event Management
  a(href="/admin/modules")
    button(class="btn btn-primary margin-left-small") Module Management
  a(href="/admin/diff")
    button(class="btn btn-primary margin-left-small") Directory Processing
div.divider.separate-vert-small