div(class="wrapper separate-vert-medium")
  div(class="col-xs-12 col-sm-4 col-md-3",data-ng-show="widgets.subpages.enabled",data-ng-class="(widgets.subpages.orientation=='right') ? 'pull-right' : ''")
    div(class="padding-medium minH300 border-soft",data-ng-class="(widgets.subpages.orientation=='right') ? 'border-left' : 'border-right'")
      div(class="text-large") Page tree for  
        em {{ pathname }}
      div(class="padding-small",data-ng-show="!functions.objSize(subpages)")
        alert No pages within {{ pathname }} yet!
      subpage(subpages="subpages",data-ng-show="functions.objSize(subpages)")
      - //ul(class="list-unstyled",data-ng-show="subpages.length")
      - //  li(class="separate-vert-small",data-ng-repeat="page in subpages | orderBy : 'path'")
      - //    div
      - //      a(data-ng-href="{{ page.path }}") {{ page.path }}
      - //    div(class="soft-text")
      - //      small {{ page.pageViews || 0 }} page views
  div(data-ng-class="(widgets.subpages.enabled==true) ? 'col-xs-12 col-sm-8 col-md-9' : ''")
    div(data-ng-show="editState")
      div(class="row",data-ng-show="!updateable")
        div(class="separate-vert-small text-large col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3")
          alert(type="danger")
            div(class="text-xlarge")
              u Not Authorized
            div(class="separate-vert-medium text-center")
              div You are not a page administrator so cannot make updates.
              div Please contact the page administrator to get access to update this page.
      div(data-ng-show="updateable")
        div(class="text-center padding-medium")
          button(class="btn btn-success",data-ng-click="handlers.saveChanges()") Commit Changes
          button(class="btn btn-info margin-left-medium",data-ng-click="handlers.saveChanges(true)") Save Draft To Finish Later
          button(class="btn btn-default margin-left-medium",data-ng-click="functions.reloadPage()") Cancel Changes
        div(class="padding-medium")
          alert(type="danger",data-ng-show="saveError") {{ saveError }}
        div(class="separate-vert-small row text-center",data-ng-if="content.draft")
          div(class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4")
            alert(type="danger",class="text-large")
              div
                span You have a saved draft for this page from 
                b {{ functions.formatDateTime(content.draft.date) }}
                span . Would you like to continue where you left off, or delete the draft?
              div(class="separate-vert-small")
                button(class="btn btn-success",data-ng-click="handlers.replaceWithDraft()") Finish Draft
                button(class="btn btn-danger margin-left-medium",data-ng-click="handlers.saveChanges(true,true)") Delete Draft
        div
          ul(class="nav nav-tabs")
            li(role="presentation",data-ng-class="functions.style.tabState(pageState.view)")
              a(href="javascript:void(0)",data-ng-click="functions.changePageState('view')") Preview Page
            li(role="presentation",data-ng-class="functions.style.tabState(pageState.editHtml)")
              a(href="javascript:void(0)",data-ng-click="functions.changePageState('editHtml')") Edit (HTML)
            li(role="presentation",data-ng-class="functions.style.tabState(pageState.editMarkup)")
              a(href="javascript:void(0)",data-ng-click="functions.changePageState('editMarkup')") Edit (Markdown)
            li(role="presentation",data-ng-class="functions.style.tabState(pageState.uploadDocx)")
              a(href="javascript:void(0)",data-ng-click="functions.changePageState('uploadDocx')") MS Word Doc > HTML
            li(role="presentation",data-ng-class="functions.style.tabState(pageState.uploadFile)")
              a(href="javascript:void(0)",data-ng-click="functions.changePageState('uploadFile')") File Management
            li(role="presentation",data-ng-class="functions.style.tabState(pageState.settings)")
              a(href="javascript:void(0)",data-ng-click="functions.changePageState('settings')") Page Settings
            li(role="presentation",data-ng-class="functions.style.tabState(pageState.olderVersions)")
              a(href="javascript:void(0)",data-ng-click="functions.changePageState('olderVersions')") Review Older Versions
    div
      div(data-ng-show="pageState.view")
        div(data-ng-show="protected",class="row text-center")
          div(class="separate-vert-large col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4")
            alert(class="margin-small")
              div(class="text-xlarge") Password Protected
              div This page is password protected. Please enter the password below to enter the page.
              div(class="separate-vert-medium")
                form
                  input(type="password",class="form-control input-lg",data-ng-model="pagePassword")
                  div(class="separate-vert-small")
                    button(class="btn btn-primary",data-ng-click="handlers.enterPassword(pagePassword)") Submit Password
              div(class="padding-small",data-ng-show="passwordError")
                alert(type="danger") {{ passwordError }}
        div(data-ng-show="!content.html && initcomplete && !protected")
          div(class="text-center col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3")
            h3
              alert {{ emptyPageError }}
            
            - //MAKE SURE USER IS LOGGED IN HERE TO SHOW TEMPLATES
            - if (data.session.loggedIn)
              div(class="separate-vert-medium text-xlarge") or
              div
                div(class="wrapper text-left shadowsmall-subtle light gray padding-small")
                  div(class="text-large header padding-small") Select From a Page Template
                  div(class="padding-medium col-xs-12 col-sm-8 col-sm-offset-2")
                    select(class="form-control input-lg",data-ng-model="template",data-ng-options="page.file as page.name for page in availablePageTemplates",data-ng-change="handlers.getTemplate(template)")
        div(data-ng-show="content.html")
          div(compile-html="functions.sanitizeHtml(content.html)")
        div(class="col-xs-12")
          small(class="soft-text",data-ng-if="content.lastUpdate") Last updated on {{ functions.formatDateTime(content.lastUpdate) }} by {{ content.person.firstname + " " + content.person.lastname }}
      div(data-ng-show="pageState.editHtml")
        div(class="separate-vert-small")
          alert(type="success")
            span You can use Bootstrap 3 
            a(href="http://getbootstrap.com/css/",target="_blank") CSS
            span  classes/styles or 
            a(href="http://getbootstrap.com/components/",target="_blank") Components
            span  to add great-looking design to your pages!
        div(class="separate-vert-small")
          alert
            span NOTE: Keep these things in mind while you're making page edits
            ol
              li
                span Be sure to use the 
                b  
                  a(href="javascript:void(0)",data-ng-click="functions.changePageState('view')") Preview Page 
                span  tab above after making changes and before saving, as what is shown in the Rich Text Editor might not match what the page will actually look like.
              li
                span Click on the 
                b  <> Source 
                span  button in the Rich Text Editor to see and/or update and add to the raw HTML for the page.
        div(class="rte-editor-wrapper padding-medium",data-ng-show="!rawHTML")
          include include_bootstraprte.jade
        div(data-ng-show="rawHTML")
          div(class="btn-group separate-vert-medium")
            a(class="btn btn-default active",title="Review Raw HTML",data-ng-click="rawHTML=!rawHTML")
              i(class="fa fa-code")
          textarea(id="rte-raw-html",rows="25",class="form-control",data-ng-model="content.html",data-ng-change="functions.rteInit()")
        //textarea(ckeditor="config.ckOptions",data-ng-model="content.html",data-ng-change="functions.htmlToMarkdown(content.html)")
      div(data-ng-show="pageState.editMarkup")
        div(class="separate-vert-small panel panel-danger")
          div(class="panel-body")
            b NOTE: Markdown is very different than HTML, so if you are updating the markdown version of the page and there were previous versions with complex HTML or other components, some things will most likely be lost. Continue at your own risk!
        textarea(class="form-control",rows="20",data-ng-model="content.markdown",data-ng-blur="functions.markdownToHtml(content.markdown)")
      div(data-ng-show="pageState.uploadDocx")
        h1 Add Microsoft Word Documents
        div(class="separate-vert-small")
          alert
            div Use the control below to upload a .doc or .docx document that will be converted into HTML and added to your page.
            br
            div
              b Keep in mind the following considerations about Microsoft Word Doc Conversion:
              ol
                li Uploading a new document does not save your page. You still need to save your changes above for the changes to take place.
                li When you upload a word document, upon successful conversion you will get redirected to the Preview Page tab and the converted document will be appended to your page.
                li This conversion is not perfect, and formatting changes might be lost from your Word Document in the HTML conversion. You might need to update them manually in the Rich Text Editor to get back the exact formatting.
        div(class="separate-vert-medium")
          div(class="panel panel-default col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-5")
            div(class="panel-body text-center")
              div(class="separate-vert-small")
                input(type="file",id="file-input-word",class="sr-only",fileread="uploadedWordDoc")
                button(id="upload-file-word",class="btn btn-primary") Upload Word Document
              div(class="separate-vert-medium",data-ng-show="fileError")
                alert(type="danger") {{ fileError }}
      div(data-ng-show="pageState.uploadFile")
        h1 Upload Files to Download or Link To
        div(class="separate-vert-medium")
          div(class="panel panel-default col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4")
            div(class="panel-body text-center")
              div(class="separate-vert-small text-left text-theme-color")
                div Select the scope to upload a new file. You are the only one with control to see a "user" file, where anyone who edits the page can see a "page" file.
              h3(class="text-left") File Scope
              div(class="separate-vert-small")
                select(class="form-control input-lg",data-ng-model="fileUploadScope",data-ng-options="opt.val as opt.text for opt in fileUploadScopes")
              div(class="separate-vert-small")
                input(type="file",id="file-input-main",class="sr-only",fileread="uploadedFile")
                button(id="upload-file-main",class="btn btn-primary") Add File
              div(class="separate-vert-medium",data-ng-show="fileError")
                alert(type="danger") {{ fileError }}
          div(class="separate-vert-small col-xs-12 col-md-8 col-md-offset-2")
            h3
              u(popover-trigger="mouseenter",popover-append-to-body="true",popover="These files can be seen and controlled by anyone with editing privileges on this wiki page. If the files won't be used anywhere other than this page, use this scope.") Page Files for 
                em {{ pathname }}
            table(class="table table-striped table-bordered",data-ng-show="pagefiles.length")
              tr
                th #
                th
                  a(href="javascript:void(0)",data-ng-click="functions.files.changeOrder('origFilename')") File Name
                th
                  span Path to Use
                  br
                  code &lt;img src="[Path Below]"/&gt;
                  br
                  code &lt;a href="[Path Below]"&gt;My Link&lt;/a&gt;
                th
                  a(href="javascript:void(0)",data-ng-click="functions.files.changeOrder('uploadedTime')") Date Uploaded
                th Delete File
              tr(data-ng-repeat="file in pagefiles | orderBy : functions.files.sortColumn : functions.files.reverseOrder")
                td {{ $index+1 }}
                td
                  a(data-ng-href="/file/{{ file.filename }}",target="_blank") {{ file.origFilename }}
                td /file/{{ file.filename }}
                td {{ functions.formatDateTime(file.uploadedTime) }}
                td
                  a(href="javascript:void(0)",data-ng-click="handlers.deleteFile(file.filename,'page')") Delete
          div(class="separate-vert-small text-center col-xs-12 col-md-8 col-md-offset-2",data-ng-show="!pagefiles.length")
            alert This page doesn't have any files yet. As soon as this page has at least 1 file uploaded to it you can see and manage them here.
          div(class="separate-vert-small col-xs-12 col-md-8 col-md-offset-2")
            h3
              u(popover-trigger="mouseenter",popover-append-to-body="true",popover="These files can only be controlled by you, and no one else in the wiki has visibility to these files other than the wiki admins.") Your Personal Files
            table(class="table table-striped table-bordered",data-ng-show="userfiles.length")
              tr
                th #
                th
                  a(href="javascript:void(0)",data-ng-click="functions.files.changeOrder('origFilename')") File Name
                th
                  span Path to Use
                  br
                  code &lt;img src="[Path Below]"/&gt;
                  br
                  code &lt;a href="[Path Below]"&gt;My Link&lt;/a&gt;
                th
                  a(href="javascript:void(0)",data-ng-click="functions.files.changeOrder('uploadedTime')") Date Uploaded
                th Delete File
              tr(data-ng-repeat="file in userfiles | orderBy : functions.files.sortColumn : functions.files.reverseOrder")
                td {{ $index+1 }}
                td
                  a(data-ng-href="/file/{{ file.filename }}",target="_blank") {{ file.origFilename }}
                td /file/{{ file.filename }}
                td {{ functions.formatDateTime(file.uploadedTime) }}
                td
                  a(href="javascript:void(0)",data-ng-click="handlers.deleteFile(file.filename,'user')") Delete
          div(class="separate-vert-small text-center col-xs-12 col-md-8 col-md-offset-2",data-ng-show="!userfiles.length")
            alert You haven't uploaded any files yet. As soon as you upload your first file you will be able to see and manage them here.
      div(data-ng-show="pageState.settings")
        h2 Page Settings
        include include_wikipagesettings.jade
      div(data-ng-show="pageState.olderVersions")
        h2 Review older versions below
        div(class="col-xs-12 col-sm-8 col-sm-offset-2")
          div(class="separate-vert-small")
            alert(class="text-center",data-ng-show="!content.versions.length") There are no older versions of this page to review.
            select(class="form-control",data-ng-show="content.versions.length",data-ng-change="handlers.reviewVersion(version.selection)",data-ng-model="version.selection",data-ng-options="version.updated as 'Updated on '+functions.formatDateTime(version.updated)+' by '+version.updatedBy.firstname+' '+version.updatedBy.lastname for version in content.versions")