- homeBody = data.EXTRA.homeBody
- addons = (data.EXTRA.theme || {}).home_page_addons || {pagesearch:{}, categories:{alignment:"left", classes:"col-md-3"}, widgets:{alignment:"right", classes:"col-md-3 pull-right"}}
- homeColLength = data.EXTRA.mainColumnLength
- reverseMap = {right:"left", left:"right"}

div.separate-vert-medium(data-ng-controller="MainHomeController")
  - if (addons.categories && addons.categories.alignment !== "disabled")
    div.hidden-xs.hidden-sm(class=addons.categories.classes)
      div.padding-small.border-soft.minH300(class="border-"+reverseMap[addons.categories.alignment])
        include include_categorylist.jade
  - if (addons.widgets && addons.widgets.alignment !== "disabled")
    div.hidden-xs.col-sm-5(class=addons.widgets.classes)
      div.padding-medium.border-soft.minH300(class="border-"+reverseMap[addons.widgets.alignment])
        div.row
          include include_search.jade
          include include_homepagewidgets.jade
  div.col-xs-12(class="col-sm-"+homeColLength)
    div.row
      - if (data.EXTRA.homeBody)
        div!= data.EXTRA.homeBody
      - if (addons.pagesearch && addons.pagesearch.enabled !== "disabled")
        div.col-xs-12
          div.row
            div.col-xs-12.separate-vert-small
              div.panel.panel-primary
                div.panel-heading
                  div Create or Go To Existing Page
                div.panel-body
                  form(data-ng-submit="newPage(newPagePath)")
                    div(class="form-group text-center")
                      label(for="new-page",class="control-label col-sm-12")
                        - //div(class="text-large") Create a new or go to an existing page
                        div Enter a page path like, 'yourname' or 'yourname/page1'
                      div(class="separate-vert-small col-xs-12")
                        input(type="text",placeholder="yourname, yourname/page1",class="form-control input-lg",id="new-page",name="new-page",data-ng-model="newPagePath")
                      div.col-xs-12
                        input(type="submit",class="btn btn-primary",value="Go To Page")
                      div(class="separate-vert-small col-xs-12",data-ng-show="newPageError")
                        alert(type="danger") {{ newPageError }}
