div#admin-nav(class="separate-vert-small")
  a(href="/admin")
    button(class="btn btn-primary") Admin Home
  a(href="/admin/visitors")
    button(class="btn btn-primary margin-left-small") Current Visitors
  a(href="/admin/templates")
    button(class="btn btn-primary margin-left-small") Templates
  a(href="/admin/events")
    button(class="btn btn-primary margin-left-small") Global Events
  a(href="/admin/modules")
    button(class="btn btn-primary margin-left-small") Modules
  a(href="/admin/theming")
    button(class="btn btn-primary margin-left-small") Theming
  a(href="/admin/diff")
    button(class="btn btn-primary margin-left-small") Directory Processing
div.divider.separate-vert-small
