div(class="separate-vert-medium")
  a(href="/admin")
    button(class="btn btn-primary") Admin Home
  a(href="/admin/events")
    button(class="btn btn-primary margin-left-medium") Default Wiki Events
  a(href="/admin/modules")
    button(class="btn btn-primary margin-left-medium") Module Management
  a(href="/admin/diff")
    button(class="btn btn-primary margin-left-medium") Directory Processing