- if (typeof data.external.EXTRA.canSeeEditButton !== "undefined" && data.external.EXTRA.canSeeEditButton)
  div(class="row",data-ng-if="!protected")
    div(class="col-xs-12 text-right")
      h5
        a(href="javascript:void(0)",data-ng-click="handlers.initializeEdit();") {{ (editState) ? "Hide Page Options" : "Edit Page" }}