- //scopeAry: the array that's repeating with all the view scopes configured
- //scopeTypes: an array that provides a list of types that we can select from

div(class="row")
  div(class="col-xs-12")
    div(class="padding-small")
      div(class="separate-vert-small text-center col-xs-12")
        button(class="btn btn-default",data-ng-click="functions.updateAryLength('" + scopeAry + "')",popover-trigger="mouseenter",popover="Add new view scope.")
          span(class="glyphicon glyphicon-plus")
        button(class="btn btn-default margin-left-small",data-ng-click="functions.updateAryLength('" + scopeAry + "','dec')",popover-trigger="mouseenter",popover="Delete last view scope.")
          span(class="glyphicon glyphicon-minus")
      div(class="col-xs-12",data-ng-show="!" + scopeAry + ".length")
        alert There are no configured scopes for who can view this page.
      div(data-ng-show=scopeAry + ".length")
        div(class="col-xs-12 col-sm-6 col-md-4",data-ng-repeat="scope in " + scopeAry)
          div(class="panel panel-info")
            div(class="panel-heading") Scope Type Configuration
            div(class="panel-body")
              div(class="form-group")
                label(for="scopetype{{ $index }}") Type
                select(class="form-control",data-ng-model="scope.type",data-ng-options="t.type as t.type + ' - ' + t.name for t in scopeTypes",data-ng-change="handlers.changeViewScope('" + scopeAry + "',$index)")
              div(data-ng-if="scope.type == 'username'")
                div(class="separate-vert-medium")
                  div(class="wrapper",data-ng-show="scope.data.length")
                    span(class="wrapper dark radius-sm margin-small padding-small",data-ng-repeat="cn in scope.data")
                      span {{ cn.substring(0,15) }}
                        small(class="margin-left-small")
                          a(href="javascript:void(0)",data-ng-click="scope.data.splice($index,1)")
                            em x
                  div(data-ng-show="!scope.data.length")
                    alert There are no usernames configured.
                div(class="col-xs-12")
                  form(class="form-inline",data-ng-submit="handlers.viewUsernameSearch(pageViewScopeUsernameSearch)")
                    div(class="form-group")
                      input(type="text",class="form-control",data-ng-model="pageViewScopeUsernameSearch")
                      button(class="btn btn-default margin-left-small") User Search
                div(class="separate-vert-small")
                  div(data-ng-show="pageViewScopeUsernameResults.length && pageViewScopeUsernameDone")
                    label Users
                    select(class="form-control",data-ng-model="pageViewScopeUsernameResultSelect",data-ng-options="user.sAMAccountName as user.sAMAccountName + ' (' + user.givenName + ' ' + (user.sn || user.surName) + ')' for user in pageViewScopeUsernameResults")
                  div(class="row")
                    div(class="col-xs-12")
                      div(class="separate-vert-small",data-ng-show="!pageViewScopeUsernameResults.length && pageViewScopeUsernameDone")
                        alert(type="danger") There were no results from the search. Please try another search.
                  div(data-ng-show="pageViewScopeUsernameResults.length && pageViewScopeUsernameResultSelect")
                    div(class="text-center")
                      button(class="btn btn-success separate-vert-small",data-ng-click="scope.data=scope.data||[];scope.data.push(pageViewScopeUsernameResultSelect);pageViewScopeUsernameResultSelect=''") Add User
              div(data-ng-if="scope.type == 'groupmembership'")
                div(class="separate-vert-small col-xs-12")
                  div(class="wrapper",data-ng-show="scope.data.length")
                    span(class="wrapper dark radius-sm margin-small padding-small",data-ng-repeat="cn in scope.data")
                      span {{ cn.substring(0,15) }}
                        small(class="margin-left-small")
                          a(href="javascript:void(0)",data-ng-click="scope.data.splice($index,1)")
                            em x
                  div(data-ng-show="!scope.data.length")
                    alert There are no groups configured.
                div(class="col-xs-12")
                  form(class="form-inline",data-ng-submit="handlers.viewGroupSearch(pageViewScopeGroupMembershipSearch)")
                    div(class="form-group")
                      input(type="text",class="form-control",data-ng-model="pageViewScopeGroupMembershipSearch")
                      button(class="btn btn-default margin-left-small") Search
                div(class="separate-vert-small")
                  div(data-ng-show="pageViewScopeGroupMembershipResults.length && pageViewScopeGroupMembershipDone")
                    label Groups
                    select(class="form-control",data-ng-model="pageViewScopeGroupMembershipResultSelect",data-ng-options="g.cn as g.cn for g in pageViewScopeGroupMembershipResults")
                  div(class="row")
                    div(class="col-xs-12")
                      div(class="separate-vert-small",data-ng-show="!pageViewScopeGroupMembershipResults.length && pageViewScopeGroupMembershipDone")
                        alert(type="danger") There were no results from the search. Please try another search.
                  div(data-ng-show="pageViewScopeGroupMembershipResults.length && pageViewScopeGroupMembershipResultSelect")
                    div(class="text-center")
                      button(class="btn btn-success separate-vert-small",data-ng-click="scope.data=scope.data||[];scope.data.push(pageViewScopeGroupMembershipResultSelect);pageViewScopeGroupMembershipResultSelect=''") Add Group
              div(data-ng-if="scope.type == 'wikiadmin'")
                div This will require the viewing user to be a wiki administrator to be able to view this page.
              div(data-ng-if="scope.type == 'pageadmin'")
                div This will require the viewing user to be a page administrator to be able to view this page.
              div(data-ng-if="scope.type == 'loggedin'")
                div This will require the viewing user to be logged into the wiki to view this page.
              div(data-ng-if="scope.type == 'emailsuffix'")
                div NOT SUPPORTED YET
              div(data-ng-if="scope.type == 'upnsuffix'")
                div NOT SUPPORTED YET
      div(class="row")
        div(class="col-xs-12")
          div(class="form-group text-center")
            button(class="btn btn-success",data-ng-click="handlers.updatePageSetting('settings.viewscope'," + scopeAry + "||[])") Save Page View Scopes