div(class="row",data-ng-if="!protected")
  div(class="col-xs-12 text-right")
    div
      - if (data.external.EXTRA.loggedIn)
        a(href="javascript:void(0)",data-ng-click="handlers.likePage(!canLike)")
          //span(class="circle circ20 vcenter dark text-center")
          span(class="glyphicon {{ (canLike) ? 'glyphicon-thumbs-up' : 'glyphicon-thumbs-down' }}") 
          small  {{ (canLike) ? "Like" : "Unlike" }} ({{ pageLikes }})
      a(class="margin-left-medium",href="javascript:void(0)",data-ng-click="handlers.subscribe.subscribeModal()")
        span(class="glyphicon glyphicon-tag") 
        small  Subscribe
      a.dropdown.margin-left-medium
        a(class="dropdown-toggle",href="javascript:void(0)",id="usersOnPage",data-toggle="dropdown",aria-haspopup="true",aria-expanded="true")
          span(class="glyphicon glyphicon-user") 
          small  Users Viewing Page ({{ usersOnPage.length }})
        ul.dropdown-menu.dropdown-menu-right(aria-labelledby="usersOnPage")
          li.text-large.padding-medium
            u Users Viewing Page
          li.padding-small(data-ng-repeat="user in usersOnPageSanitized")
            a(href="#")
              div {{ $index+1 }}. {{ (user.firstname) ? user.firstname + " " + user.lastname : "A guest" }}
script(type="text/ng-template" id="subscribeContent.html")
  form
    div(class="modal-header")
      h1(class="modal-title") Subscribe to Page
    div(class="modal-body")
      - if (data.external.EXTRA.loggedIn)
        div(class="separate-vert-medium")
          div Would you like to use the e-mail address associated with your account (this was automatically populated when you first logged in)?
          div(class="separate-vert-small text-center")
            input(type="radio",id="subAccYes",name="subAcc",data-ng-model="subscribeUseAccount",data-ng-value="'yes'")
            label(for="subAccYes") Yes
            input(type="radio",id="subpagesWidgetDisabled",name="subAcc",data-ng-model="subscribeUseAccount",data-ng-value="'no'")
            label(for="subpagesWidgetDisabled") No
      div(data-ng-show="!subscribeUseAccount || subscribeUseAccount=='no'")
        div Enter your e-mail address below to subscribe to this page.
        div(class="separate-vert-small")
          input(type="text",class="form-control",placeholder="Enter E-mail Address...",data-ng-model="emailAddress")
      div(data-ng-show="subscribeError")
        alert {{ subscribeError }}
      div(data-ng-show="subscribeSuccess")
        alert(type="success") {{ subscribeSuccess }}
    div(class="modal-footer")
      button(class="btn btn-success",data-ng-click="handlers.subscribe.subscribeToPage(emailAddress,subscribeUseAccount)") Subscribe