- // Needs access to the mainHomeCtrl controller
div(class="col-xs-12")
  div(class="row padding-medium")
    div(class="col-xs-12",data-ng-show="widgets.length")
      h1 Quick Links
      alert(type="danger",data-ng-show="error") {{ error }}
      div(class="widget separate-vert-small col-xs-12 col-sm-6 col-lg-3",data-ng-repeat="widget in widgets")
        div(class="shadowsmall-subtle wrapper light gray padding-medium")
          div
            div(class="text-center text-large widget-header") {{ widget.name }}
            div(class="padding-medium",data-ng-show="!widget.items.length")
              alert(class="text-center") There are no items that have been updated yet.
            ul(class="list-unstyled",data-ng-show="widget.items.length")
              li(data-ng-repeat="item in widget.items")
                div(class="separate-vert-small")
                  div
                    a(data-ng-href="{{ item.path }}",title="{{ item.path }}") {{ ((item.path.length-45 < 0) ? "" : "...") + item.path.substring((item.path.length-45 < 0) ? 0 : item.path.length-45) }} 
                    small(class="soft-text text-xsmall") {{ item.pageViews }} views
                    span(data-ng-show="item.extraText") {{ item.extraText }}
                  div
                    small(class="soft-text") Updated on {{ functions.formatDateTime(item.updated) }}