div(class="loginwrapper padding-small text-right col-xs-12",data-ng-controller="loginCtrl")
  div(class="padding-small")
    form(class="form-inline",data-ng-submit="handlers.loginSubmission(data)")
      div(class="form-group",data-ng-class="functions.returnClassHasData(data.username)")
        label(for="username") Username
        div(class="input-group margin-left-small")
          span(class="input-group-addon")
            span(class="glyphicon glyphicon-user")
          input(type="text",id="username",name="username",placeholder="Username...",class="form-control",data-ng-model="data.username")
      div(class="form-group",data-ng-class="functions.returnClassHasData(data.password)")
        label(for="password",class="margin-left-small") Password
        div(class="input-group margin-left-small")
          span(class="input-group-addon")
            span(class="glyphicon glyphicon-link")
          input(type="password",id="password",name="password",placeholder="Password...",class="form-control",data-ng-model="data.password")
      div(class="form-group margin-left-small")
        button(type="submit",class="btn btn-default") Login
      div(class="form-group margin-left-small",data-ng-show="authTypes.facebook")
        a(href="/login/facebook")
          img(style="max-height:34px",class="img-responsive",src="/public/images/fb_Login.png")
      div(class="form-group margin-left-small",data-ng-show="authTypes.google")
        a(href="/login/google")
          img(style="max-height:34px",class="img-responsive",src="/public/images/google_Login.png")
    div(class="padding-medium text-center col-xs-12 col-sm-8 col-sm-offset-4 col-md-6 col-md-offset-6 col-lg-4 col-lg-offset-8",data-ng-if="error")
      alert(type="danger") {{ error }}