div(class="separate-vert-medium")
  a(href="/admin")
    button(class="btn btn-primary") Admin Home
  a(href="/admin/visitors")
    button(class="btn btn-primary margin-left-small") Current Visitors
  a(href="/admin/events")
    button(class="btn btn-primary margin-left-small") Default Wiki Events
  a(href="/admin/modules")
    button(class="btn btn-primary margin-left-small") Module Management
  a(href="/admin/diff")
    button(class="btn btn-primary margin-left-small") Directory Processing