div(id="rte-toolbar-wrapper")
  div(class="text-large") Rich Text Editor
  div(class="btn-toolbar" data-role="editor-toolbar" data-target="#rte-editor")
    div(class="btn-group")
      a(class="btn btn-default dropdown-toggle",data-toggle="dropdown",title="Font Size")
        i(class="fa fa-text-height")
        b(class="caret")
      ul(class="dropdown-menu")
        li
          a(data-edit="fontSize 5")
            font(size="5") Huge
        li
          a(data-edit="fontSize 3")
            font(size="3") Normal
        li
          a(data-edit="fontSize 1")
            font(size="1") Small
    div(class="btn-group")
      a(class="btn btn-default",data-edit="bold",title="Bold (Ctrl/Cmd+B)")
        i(class="fa fa-bold")
      a(class="btn btn-default",data-edit="italic",title="Italic (Ctrl/Cmd+I)")
        i(class="fa fa-italic")
      a(class="btn btn-default",data-edit="strikethrough",title="Strikethrough")
        i(class="fa fa-strikethrough")
      a(class="btn btn-default",data-edit="underline",title="Underline (Ctrl/Cmd+U)")
        i(class="fa fa-underline")
    div(class="btn-group")
      a(class="btn btn-default",data-edit="insertunorderedlist",title="Bullet List")
        i(class="fa fa-list-ul")
      a(class="btn btn-default",data-edit="insertorderedlist",title="Number List")
        i(class="fa fa-list-ol")
      a(class="btn btn-default",data-edit="outdent",title="Reduce indent (Shift+Tab)")
        i(class="fa fa-outdent")
      a(class="btn btn-default",data-edit="indent",title="Indent (Tab)")
        i(class="fa fa-indent")
    div(class="btn-group")
      a(class="btn btn-default",data-edit="justifyleft",title="Align Left (Ctrl/Cmd+L)")
        i(class="fa fa-align-left")
      a(class="btn btn-default",data-edit="justifycenter",title="Center (Ctrl/Cmd+E)")
        i(class="fa fa-align-center")
      a(class="btn btn-default",data-edit="justifyright",title="Align Right (Ctrl/Cmd+R)")
        i(class="fa fa-align-right")
      a(class="btn btn-default",data-edit="justifyfull",title="Justify (Ctrl/Cmd+J)")
        i(class="fa fa-align-justify")
    div(class="btn-group")
      a(class="btn btn-default",data-edit="undo",title="Undo (Ctrl/Cmd+Z)")
        i(class="fa fa-undo")
      a(class="btn btn-default",data-edit="redo",title="Redo (Ctrl/Cmd+Y)")
        i(class="fa fa-repeat")
    div(class="btn-group")
      a(class="btn btn-default",title="Review Raw HTML",data-ng-click="rawHTML=!rawHTML",popover-trigger="mouseenter",popover-append-to-body="true",popover="If you would like to review and make changes to the raw HTML, click here.")
        i(class="fa fa-code")
div(id="rte-editor",class="border-soft")