div.separate-vert-medium(data-ng-controller="mainHomeCtrl")
  div.hidden-xs.hidden-sm.col-md-2
    div.padding-small.border-right.border-soft.minH300
      include include_categorylist.jade
  div.col-xs-12.col-sm-7
    div.row
      - if (data.EXTRA.homeBody)
        div!= data.EXTRA.homeBody
      div.col-xs-12
        div.row
          div.col-xs-12.separate-vert-small
            div.panel.panel-primary
              div.panel-heading
                div Create or Go To Existing Page
              div.panel-body
                form(data-ng-submit="handlers.newPage(newPagePath)")
                  div(class="form-group text-center")
                    label(for="newPage",class="control-label col-sm-12") 
                      - //div(class="text-large") Create a new or go to an existing page
                      div Enter a page path like, 'yourname' or 'yourname/page1'
                    div(class="separate-vert-small col-xs-12")
                      input(type="text",placeholder="yourname, yourname/page1",class="form-control input-lg",id="newPage",name="newPage",data-ng-model="newPagePath")
                    div.col-xs-12
                      input(type="submit",class="btn btn-primary",value="Go To Page")
                    div(class="separate-vert-small col-xs-12",data-ng-show="newPageError")
                      alert(type="danger") {{ newPageError }}
  div.hidden-xs.col-sm-5.col-md-3
    div.padding-left-large.border-left.border-soft.minH300
      div.row
        include include_search.jade
        include include_homepagewidgets.jade