extends layout

block main
	div(class="row",data-ng-controller="wikiPageCtrl")
		div(class="wrapper col-xs-12 col-md-10 col-md-offset-1")
			h1= data.external.EXTRA.pageHeader
			- if (data.external.EXTRA.loggedInUsersPage)
				div(class="text-right")
					a(href="javascript:void(0)",data-ng-click="functions.changePageState('view');editState=!editState") {{ (editState) ? "Hide Page Options" : "Edit Your Page" }}
			include include_editpage.jade