extends layout

block main
  div(class="row",data-ng-controller="wikiPageCtrl")
    div(id="main-wiki-wrapper",style="display:none",data-ng-show="initcomplete")
      include include_wikipagepieces.jade
      div(class="wrapper col-xs-12")
        div
          include include_wikipageeditpagelink.jade
          include include_pageextras.jade
          include include_editpage.jade