html,
body {
  -webkit-text-size-adjust: none;    /* This is attempting to not have the text change on a mobile device */
  min-width:100%;
  /*
  background-color:#F9F9F9;
  background-image:url("images/squairs_icon_opaque.png");
  background-attachment: fixed;
  background-position:center center;
  background-repeat:no-repeat;
  */
}

img,
a {
  border:none;
  outline:none;
}

iframe {
  border: none;
}

input[type="radio"] {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

input[type="file"] {
  margin-left: auto;
  margin-right: auto;
}

input.input-xlg {
  height: 72px;
  padding: 15px 22px;
  font-size: 32px;
  line-height: 1.999;
  border-radius: 6px;
}

input.input-xs {
  height: 20px;
  padding: 3px 7px;
  font-size: 10px;
  line-height: 1.2;
  border-radius: 3px;
}

input.emphasize {
  font-weight: bold;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset !important;
  -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset !important;
  -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset !important;
}

.rte-editor-wrapper {
  background: #F0F0F0;
}

#rte-raw-html {
  
}

#rte-toolbar-wrapper {
  margin: 5px;
}

#rte-editor {
  overflow: scroll;
  background: white;
  border-collapse: separate;
  border-radius: 3px;
  height: 800px;
  max-height: 1000px;
  padding: 4px;
  margin: 10px;
  outline: none;
}

.navbar {
  min-height: initial !important;
  margin-bottom: 0px !important;
}

.navbar-default {
  background-color: transparent !important;
  background-color: initial !important;
  border: none !important;
}

.ui-autocompleteselect a,
.ui-autocompleteselect input {
  vertical-align: middle;
}

.soft-text {
  color: #D0D0D0 !important;
}

.click {
  cursor: pointer;
}

.center {
  text-align: center;
}

.circle {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	/* Cleaner, but slightly less support: use "50%" as value */
}

colgroup col.gray {
  background-color: #F5F5F5;
}

colgroup col.success {
  background-color: #dff0d8;
}

colgroup col.error,
colgroup col.danger {
  background-color: #f2dede;
}

colgroup col.warning {
  background-color: #fcf8e3;
}

colgroup col.info {
  background-color: #d9edf7;
}

.circ10 {
  width: 10px;
  height: 10px;
}

.circ20 {
  width: 20px;
  height: 20px;
}

.circ30 {
  width: 30px;
  height: 30px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.active-button {
  background: #44749D;
  color: #FFFFFF;
}

.shadowsmall {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.shadowsmall-subtle {
  box-shadow: 0 1px 15px #ccc;
  -moz-box-shadow: 0 1px 15px #ccc;
  -webkit-box-shadow: 0 1px 15px #ccc;
}

.shadowsmall-color {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset !important;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset !important;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset !important;
}

.shadowlarge {
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.radius-sm {
  border-radius: 5px;
}

.radius-md {
  border-radius: 10px;
}

.wrapper {
  overflow: hidden;
}

.module-placeholder {
  border-radius: 5px;
  background: #F5F5F5;
  min-height: 300px;
  margin: 10px;
}

.dark {
  background: #333333;
  color: #FFFFFF;
}

.wrapper.light {
  background: #C6D4E1;
}

.wrapper.light.gray {
  background: #F5F5F5;
}

.wrapper.light > .header {
  border: 2px solid;
  margin-bottom: 5px;
  border-radius: 2px;
  background: #333333;
  color: #FFFFFF;
}

.wrapper.dark.gray {
  background: #F5F5F5;
  color: #FFFFFF;
}

.block-center {
  margin-left: auto;
  margin-right: auto;
}

.border-soft {
  border-color: #E5E5E5 !important;
}

.divider {
  height: 1px;
  margin: 10px 0;
  overflow: hidden;
  background-color: #E5E5E5;
}

.divider.color {
  background-color: #333333;
}

.divider.thick {
  height: 3px;
}

.divider.smallgap {
  margin-top: 5px;
  margin-bottom: 5px;
}

.divider.largegap {
  margin-top: 30px;
  margin-bottom: 30px;
}

.modal-header {
	background: #333333;
	color: white;
}

.header {

}

.panel-header {
  border-color: #333333 !important;
}

.panel-danger {
  background-color: rgba(255,0,0,0.3) !important;
  color: white !important;
}

/*ul.subpages:hover {
  background: #F5F5F5;
}

ul.subpages > li:hover {
  background: #E5E5E5;
}*/

ul.subpages div.subpage-page:hover {
  background: #F5F5F5;
  background: rgba(255,0,0,0.05);
}

ul.list-left {
  margin-left: 10px;
}

ul.nav > li {
  cursor: pointer;
  margin-right: 10px;
}

li.switch-grey {
  background: #F8F8F8;
}

.nav-affix {
  top: 0px;
  z-index: 9;
  width: 100%;
}

.dropdown-menu {
  z-index: 99 !important;
}

.quicksearch-dropdown {
  color: black;
  width: 400px;
}

.sidenav-affix {
  top: 80px;
}

.navbar-default .navbar-nav > li > a {
  color: inherit !important;
}

.mask {
  position: fixed;
  background: black;
  top: -25px;
  left: -25px;
  height: 150%;
  width: 150%;
  opacity: 0.8;
  z-index: 9;
}

.popupcontent {
  box-sizing: content-box;
  position: absolute;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 0px black inset, 0px -2px 25px black, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
  z-index: 9;
}

div.asyncloader {
  box-sizing: content-box;
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: #333333;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
  text-align:center;
  font-size: 11px;
  width: 200px;
  opacity: 0.6;
  z-index: 9;
}

.border-right {
  border-right: 1px solid;
}

.border-left {
  border-left: 1px solid;
}

.separate-vert-small {
  margin-top: 10px;
  margin-bottom: 10px;
}

.separate-vert-medium {
  margin-top: 25px;
  margin-bottom: 25px;
}

.separate-vert-large {
  margin-top: 40px;
  margin-bottom: 40px;
}

.padding-left-small {
  padding-left: 5px;
}

.padding-left-medium {
  padding-left: 15px;
}

.padding-left-large {
  padding-left: 30px;
}

.padding-small {
  padding: 5px;
}

.padding-medium {
  padding: 15px;
}

.padding-large {
  padding: 30px;
}

.margin-left-small {
  margin-left: 5px;
}

.margin-left-medium {
  margin-left: 15px;
}

.margin-left-large {
  margin-left: 30px;
}

.margin-right-small {
  margin-right: 5px;
}

.margin-right-medium {
  margin-right: 15px;
}

.margin-small {
  margin: 5px;
}

.margin-medium {
  margin: 15px;
}

.margin-large {
  margin: 30px;
}

.max100 {
  max-width: 100px !important;
}

.max200 {
  max-width: 200px !important;
}

.max300 {
  max-width: 300px !important;
}

.minH100 {
  min-height: 100px;
}

.minH300 {
  min-height: 300px;
}

.minH500 {
  min-height: 500px;
}

.text-theme-color {
  color: #333333 !important;
}

.text-xsmall {
  font-size: 0.6em;
}

.text-small {
  font-size: 0.75em;
}

.text-large {
  font-size: 1.5em !important;
}

.text-xlarge {
  font-size: 2em !important;
}

.widget .widget-header {
  padding: 4px;
  background: #333333;
  color: white;
  border-radius: 3px;
}

.widget a {
  color: #333333 !important;
}

.chat-message-wrapper {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid #F0F0F0;
  border-radius: 2px;
  height: 350px;
  overflow-y: scroll;
}

.chat-message-wrapper li {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px;
}

.chat-message-wrapper li:hover {
  background: #FAFAFA;
}